@using TeamplateHotel.Handler
@using ProjectLibrary.Database
@{
    ViewBag.Title = "Messages";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
    Menu menu = ViewBag.Menu ?? new Menu();
}
<style>
    .content{
        margin: 50px 0;
    }
</style>
<div class="container">
    <div class="content">
        <div class="row">
            <div class="col-md-12">
                <h2>Message</h2>
                <div class="des-article">
                    <br />
                    @Html.Raw(ViewBag.Messages)
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
</div>

                                                
                                              